.item {
    border: 1px solid rgba(16, 24, 40, 0.2);
border-radius: 20px;
padding: 24px;
width: 888px;
height: 358px;
background-color: #fff;
display: flex;
gap: 24px;
margin-bottom: 32px;
}

.foto {
    border-radius: 10px;
width: 290px;
height: 310px;
object-fit: cover;
}
.detailsWrapper {
    width: 526px;
height: 310px;
position: relative;

}
.nameWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name {
font-weight: 600;
font-size: 24px;
line-height: 1.25;
font-family: "Inter", sans-serif;
color: var(--primary-color-black);
}
.priceWrapper{
    display: flex;
    gap: 10px;
flex-direction: row;
align-items: center;
margin-bottom: 8px;
}
.svg_heart {
  fill: transparent;
  stroke: var(--primary-color-black);
}

.svg_heart_red {
  fill: var(--primary-color-red);
  stroke: var(--primary-color-red);
}
.svg {
    fill: transparent;
    stroke: black;
}
.svgItem {
    
    fill: black;
    stroke: transparent;
}
.ratingWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.locationWrapper {
    display: flex;
   align-items: center;
   gap: 4px;
}
.ratingWrap {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}


.description {
    font-family: "Inter", sans-serif;
   overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--primary-color-text);
white-space: nowrap;
width: 525px;
height: auto;
  margin-bottom: 24px;
position: absolute;
z-index: 4;

}
.tooltip {
    position: absolute;
    display: block;
    overflow: auto;
    top: -215px;
    left: 0;
    z-index: 5;
    font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        line-height: 1.5;
        background: #fff;
        color: var(--primary-color-text);
       height: 100%;
        padding: 40px 32px;
       transform: translateY(100%);
       border: 1px solid rgba(16, 24, 40, 0.2);
border-radius: 20px;
    transition: 0.5s;
}


.listItem {
    border-radius: 100px;
padding: 12px 18px;
width: auto;
height: 44px;
background: var(--primary-color-input);
mix-blend-mode: multiply;
display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
font-size: 16px;
line-height: 125%;
text-align: center;
display: flex;
gap: 8px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    width: 526px;
height: 96px;
margin-bottom: 24px;
margin-top: 72px;
gap: 8px;
}
.button {
    border-radius: 200px;
padding: 16px 40px;
width: 166px;
height: 56px; 
font-family: "Inter", sans-serif;
background-color: var(--primary-color-red);
}
.button:hover,
.button:focus {
    background-color: var(--secondary-color-red);
}
.modal {
    position: absolute;
    border-radius: 20px;
padding: 40px;
width: 982px;
height: 720px;
background-color: #fff;
padding: 40px;
z-index: 5;
overflow: auto;
}

.modalBtnBox {
display: flex;
align-items: center;
justify-content: space-between;
}
.cross {
    cursor: pointer;
    stroke: black;
    width: 32px;
    height: 32px;
}
.modalTitle {
    font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 125%;
color: var(--primary-color-black);
margin-bottom: 8px;
}
.modalInfo{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    flex-direction: column;
}
.rateBox {
    display: flex;
    gap: 16px;
    align-items: center;
}
.modalBox {
    display: flex;
    align-items: center;
}
.modalText {
    font-family: "Inter", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--primary-color-black);
}
.modalGallery {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}
.modalFoto {
    border-radius: 10px;
width: 290px;
height: 310px;
object-fit: cover;
}
.modalDescription {
    font-family: "Inter", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--primary-color-text);
margin-bottom: 44px;
}
  

.tabContainer {
    display: flex;
    gap: 40px;
    position: relative;
}

.formWrapper {
    border: 1px solid rgba(16, 24, 40, 0.2);
border-radius: 10px;
padding: 24px;
width: 448px;
height: 532px;
margin-top: 54px;
margin-bottom: 40px;
position: absolute;
transform: translate(100%, -110%);

}
.formTitle {
    
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: var(--primary-color-black);
margin-bottom: 8px;
}
.formText {
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin-bottom: 24px;
}
.label {
    display: none;
}
.input {
    border-radius: 10px;
padding: 18px;
width: 400px;
height: 56px;
margin-bottom: 14px;
color: var(--primary-color-text);
background-color: var(--primary-color-input);
}
.input:focus,
.input:hover {
    border-color: blue;
     outline: none;
}
.input:invalid {
    border-color: var(--primary-color-red);
    color: var(--primary-color-red);
}
.input:valid {
border-color: var(--primary-color-input);
}
.textarea {
    border-radius: 10px;
padding: 18px;
width: 400px;
height: 114px;
background-color:  var(--primary-color-input);
margin-bottom: 20px;
}
.textarea:focus,
.textarea:hover {
    border-color: blue;
     outline: none;
}
.textarea:invalid {
    border-color: var(--primary-color-red);
    color: var(--primary-color-red);
}
.textarea:valid {
border-color: var(--primary-color-input);
}


.formBtn {
border-radius: 200px;
padding: 16px 60px;
width: 160px;
height: 56px;
color: #fff;
background-color: var(--primary-color-red);
}
.formBtn:hover,
.formBtn:focus {
    background-color: var(--secondary-color-red);
}

.featuresWrapper {
    width: 430px;
height: 530px;
}
.featureList {
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 34px;
}
.vehicleTitle {
    margin-bottom: 38px;
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: var(--primary-color-black);
}
.vehicleList {
font-weight: 500;
font-size: 18px;
line-height: 133%;
text-align: center;
color: var(--primary-color-black);
}
.vehicleItem {
display: flex;
align-items: center;
justify-content: space-between;

   margin-bottom: 8px;
}
.reviewsWrapper {
    width: 430px;
height: 530px;
margin-top: 44px;
gap: 24px;
}
.reviewItem {
    margin-bottom: 24px;
}
.container { 
    display: flex;
    gap: 16px;
margin-bottom: 44px;
width: 172px;
height: 60px;
align-items: center;
justify-content: center;
}
.nameRatingBox {
    display: flex;
    flex-direction: column;
    
}
.filledStar {
   width: 16px;
height: 16px;
    fill: var(--primary-color-yellow);
}
.avatar {
    border-radius: 60px;
width: 60px;
height: 60px;
display: flex;
background-color: var(--primary-color-input);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color-red);
}
.emptyStar {
    width: 16px;
height: 16px;
    fill: transparent;
    stroke: black;
}
.reviewsName {
    
font-weight: 600;
font-size: 18px;
line-height: 133%;
color: var(--primary-color-black);
}
.reviewText {
   
font-weight: 400;
font-size: 16px;
line-height: 150%;

}