
.wrapper {
    padding: 100px 64px 0px 64px;
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
width: 1312px;
height: 600px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.heroTitle {
    font-size: 48px;
    line-height: 26px;
    margin-top: 50px;
    font-family: "Inter", sans-serif;
  color: var(--primary-color-black);
  font-weight: 600;
}

@keyframes blink {
        0% {
            color: var(--primary-color-black);
        }
        100% {
            color: var(--secondary-color-red);
        }
    }
.link{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: var(--primary-color-black);
    font-size: 40px;
    font-weight: 700;
   padding: 10px;
   border-radius: 10px;
   background-color: rgba(240, 248, 255, 0.174);
    margin-bottom: 10px;
    text-align: center;
    transition: 0.5s;
    animation: blink 1.5s infinite alternate;
}